In [1]:
import sqlite3
conn = sqlite3.connect('mid_term.db')

cursor = conn.cursor()

create_table_query = '''
CREATE TABLE WEATHER_Table (
    id INT PRIMARY KEY,
    recordDate DATE,
    temperature INT
);
'''

insert_queries = [
    "INSERT INTO Weather_Table VALUES (1, '2015-01-01', 10);",
    "INSERT INTO Weather_Table VALUES (2, '2015-01-02', 25);",
    "INSERT INTO Weather_Table VALUES (3, '2015-01-03', 20);",
    "INSERT INTO Weather_Table VALUES (4, '2015-01-04', 30);"
]



# Execute the SQL queries
cursor.executescript(create_table_query)
for insert_query in insert_queries:
    cursor.execute(insert_query)

In [2]:
def printIDs():
    select_query = '''SELECT t1.id FROM Weather_Table t1 JOIN Weather_Table t2 ON t1.id = t2.id + 1 WHERE t1.temperature > t2.temperature;'''
    cursor.execute(select_query)
    results = cursor.fetchall()
    for row in results:
        print(row)
printIDs()
conn.commit()
conn.close()

(2,)
(4,)